/*-----------------------------------------------------------------
- Cursor
-----------------------------------------------------------------*/
@include helper('cur-a') {
    cursor: auto !important;
}

@include helper('cur-d') {
    cursor: default !important;
}

@include helper('cur-ha') {
    cursor: hand !important;
}

@include helper('cur-he') {
    cursor: help !important;
}

@include helper('cur-m') {
    cursor: move !important;
}

@include helper('cur-p') {
    cursor: pointer !important;
}

@include helper('cur-t') {
    cursor: text !important;
}

@include helper('cur-na') {
    cursor: not-allowed !important;
}

@include helper('cur-nd') {
    cursor: no-drop !important;
}

@include helper('cur-n') {
    cursor: none !important;
}

@include helper('cur-w') {
    cursor: wait !important;
}
