/*-----------------------------------------------------------------
- Resize
-----------------------------------------------------------------*/
@include helper('rsz-n') {
    resize: none !important;
}

@include helper('rsz-b') {
    resize: both !important;
}

@include helper('rsz-y') {
    resize: vertical !important;
}

@include helper('rsz-x') {
    resize: horizontal !important;
}
