/*-----------------------------------------------------------------
- Resize
-----------------------------------------------------------------*/
.rsz-n {
    resize: none !important;
}

.rsz-b {
    resize: both !important;
}

.rsz-y {
    resize: vertical !important;
}

.rsz-x {
    resize: horizontal !important;
}
