/*-----------------------------------------------------------------
- User Select
-----------------------------------------------------------------*/
@include helper('us-n') {
    user-select: none !important;
}

@include helper('us-t') {
    user-select: text !important;
}

@include helper('us-al') {
    user-select: all !important;
}

@include helper('us-a') {
    user-select: auto !important;
}
