//-----------------------------------------------------------------
// Helper generator
//-----------------------------------------------------------------
@mixin helper($name) {
    $selector: $name;

    // Check the naming version
    @if $naming == 'full' {
        $selector: map-get($names, $name);
    }

    .#{$selector} {
        @content;
    }
}

//-----------------------------------------------------------------
// Margin Generator
//-----------------------------------------------------------------
@mixin margin_generator($value) {

    .m-#{$value} {
        margin: px($value) !important;
    }

    .mx-#{$value} {
        margin-left:  px($value) !important;
        margin-right: px($value) !important;
    }

    .my-#{$value} {
        margin-top:    px($value) !important;
        margin-bottom: px($value) !important;
    }

    .mt-#{$value} {
        margin-top: px($value) !important;
    }

    .mr-#{$value} {
        margin-right: px($value) !important;
    }

    .mb-#{$value} {
        margin-bottom: px($value) !important;
    }

    .ml-#{$value} {
        margin-left: px($value) !important;
    }

}

//-----------------------------------------------------------------
// Padding Generator
//-----------------------------------------------------------------
@mixin padding_generator($value) {

    .p-#{$value} {
        padding: px($value) !important;
    }

    .pt-#{$value} {
        padding-top: px($value) !important;
    }

    .pr-#{$value} {
        padding-right: px($value) !important;
    }

    .pb-#{$value} {
        padding-bottom: px($value) !important;
    }

    .pl-#{$value} {
        padding-left: px($value) !important;
    }

}
