/*-----------------------------------------------------------------
- Background
-----------------------------------------------------------------*/
.bg-n{
    background: none !important;
}
.bgc-t{
    background-color: transparent !important;
}
.bgi-n{
    background-image: none !important;
}
.bgr-n{
    background-repeat: no-repeat !important;
}
.bgr-x{
    background-repeat: repeat-x !important;
}
.bgr-y{
    background-repeat: repeat-y !important;
}
.bgsz-a{
    background-size: auto !important;
}
.bgsz-c{
    background-size: cover !important;
}