/*-----------------------------------------------------------------
- Clear
-----------------------------------------------------------------*/
.cl-n{
    clear: none !important;
}
.cl-r{
    clear: right !important;
}
.cl-l{
    clear: left !important;
}