/*-----------------------------------------------------------------
- Cursor
-----------------------------------------------------------------*/
.cur-a {
    cursor: auto !important;
}

.cur-d {
    cursor: default !important;
}

.cur-ha {
    cursor: hand !important;
}

.cur-he {
    cursor: help !important;
}

.cur-m {
    cursor: move !important;
}

.cur-p {
    cursor: pointer !important;
}

.cur-t {
    cursor: text !important;
}
