/*-----------------------------------------------------------------
- Display and Visibility
-----------------------------------------------------------------*/
.d-n{
    display: none !important;
}
.d-i{
    display: inline !important;
}
.d-b{
    display: block !important;
}
.d-ib{
    display: inline-block !important;
}
.d-t{
    display: table !important;
}
.d-tc{
    display: table-cell !important;
}
.d-f{
    display: flex !important;
}
.d-if{
    display: inline-flex !important;
}
.d-li{
    display: list-item !important;
}

.v-v{
    visibility: visible !important;
}
.v-h{
    visibility: hidden !important;
}