/*-----------------------------------------------------------------
- Float
-----------------------------------------------------------------*/
.f-l{
    float: left !important;
}
.f-r{
    float: right !important;
}
.f-n{
    float: none !important;
}