/*-----------------------------------------------------------------
- Font
-----------------------------------------------------------------*/
.fw-n {
    font-weight: normal !important;
}

.fw-lr {
    font-weight: lighter !important;
}

.fw-b {
    font-weight: bold !important;
}

.fw-br {
    font-weight: bolder !important;
}

.fs-i {
    font-style: italic !important;
}

.fs-n {
    font-style: normal !important;
}
