/*-----------------------------------------------------------------
- List
-----------------------------------------------------------------*/
// List Style
.lis-n{
    list-style: none !important;
}

// List Style Position
.lisp-i{
    list-style-position: inside !important;
}
.lisp-o{
    list-style-position: outside !important;
}

// List Style Type
.list-n{
    list-style-type: none !important;
}
.list-d{
    list-style-type: disc !important;
}
.list-c{
    list-style-type: circle !important;
}
.list-s{
    list-style-type: square !important;
}
.list-dc{
    list-style-type: decimal !important;
}