/*-----------------------------------------------------------------
- Opacity
-----------------------------------------------------------------*/
.op-0{
    opacity: 0 !important;
}
.op-25{
    opacity: 0.25 !important;
}
.op-50{
    opacity: 0.50 !important;
}
.op-75{
    opacity: 0.75 !important;
}
.op-1{
    opacity: 1 !important;
}
