/*-----------------------------------------------------------------
- Overflow
-----------------------------------------------------------------*/
.ov-v{
    overflow: visible !important;
}
.ov-h{
    overflow: hidden !important;
}
.ov-s{
    overflow: scroll !important;
}
.ov-a{
    overflow: auto !important;
}
.ovx-v{
    overflow-x: visible !important;
}
.ovx-h{
    overflow-x: hidden !important;
}
.ovx-s{
    overflow-x: scroll !important;
}
.ovx-a{
    overflow-x: auto !important;
}
.ovy-v{
    overflow-y: visible !important;
}
.ovy-h{
    overflow-y: hidden !important;
}
.ovy-s{
    overflow-y: scroll !important;
}
.ovy-a{
    overflow-y: auto !important;
}
