/*-----------------------------------------------------------------
- Position
-----------------------------------------------------------------*/
.pos-r{
    position: relative !important;
}
.pos-a{
    position: absolute !important;
}
.pos-s{
    position: static !important;
}
.pos-f{
    position: fixed !important;
}
.t-a{
    top: auto !important;
}
.r-a{
    right: auto !important;
}
.b-a{
    bottom: auto !important;
}
.l-a{
    left: auto !important;
}