/*-----------------------------------------------------------------
- Width
-----------------------------------------------------------------*/
.w-a{
    width: auto !important;
}
.w-100{
    width: 100% !important;
}