/*-----------------------------------------------------------------
- Position centering
-----------------------------------------------------------------*/
@include helper('center') {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
@include helper('center-x') {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
@include helper('center-y') {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
