/*-----------------------------------------------------------------
- Z-index
-----------------------------------------------------------------*/
@include helper('z-a') {
  z-index: auto !important;
}

@include helper('z-0') {
  z-index: 0 !important;
}

@include helper('z-100') {
  z-index: 100 !important;
}

@include helper('z-1000') {
  z-index: 1000 !important;
}

@include helper('z-2000') {
  z-index: 2000 !important;
}

@include helper('z-3000') {
  z-index: 3000 !important;
}

@include helper('z-4000') {
  z-index: 4000 !important;
}

@include helper('z-5000') {
  z-index: 5000 !important;
}

@include helper('z-6000') {
  z-index: 6000 !important;
}

@include helper('z-7000') {
  z-index: 7000 !important;
}

@include helper('z-8000') {
  z-index: 8000 !important;
}

@include helper('z-9000') {
  z-index: 9000 !important;
}

@include helper('z-10000') {
  z-index: 10000 !important;
}