/*-----------------------------------------------------------------
- Clear
-----------------------------------------------------------------*/
@include helper('cl-n') {
    clear: none !important;
}

@include helper('cl-r') {
    clear: right !important;
}

@include helper('cl-l') {
    clear: left !important;
}
