/*-----------------------------------------------------------------
- Display
-----------------------------------------------------------------*/
@include helper('d-n') {
    display: none !important;
}

@include helper('d-i') {
    display: inline !important;
}

@include helper('d-b') {
    display: block !important;
}

@include helper('d-ib') {
    display: inline-block !important;
}

@include helper('d-t') {
    display: table !important;
}

@include helper('d-tc') {
    display: table-cell !important;
}

@include helper('d-f') {
    display: flex !important;
}

@include helper('d-if') {
    display: inline-flex !important;
}

@include helper('d-li') {
    display: list-item !important;
}
