/*-----------------------------------------------------------------
- Object fit and position
-----------------------------------------------------------------*/
@include helper('of-con') {
    object-fit: contain;
}

@include helper('of-cov') {
    object-fit: cover;
}

@include helper('of-f') {
    object-fit: fill;
}

@include helper('of-n') {
    object-fit: none;
}

@include helper('of-sd') {
    object-fit: scale-down;
}

@include helper('op-t') {
    object-position: top;
}
@include helper('op-r') {
    object-position: right;
}
@include helper('op-b') {
    object-position: bottom;
}
@include helper('op-l') {
    object-position: left;
}
@include helper('op-c') {
    object-position: center;
}
@include helper('op-lb') {
    object-position: left bottom;
}
@include helper('op-lt') {
    object-position: left top;
}
@include helper('op-rb') {
    object-position: right bottom;
}
@include helper('op-rt') {
    object-position: right top;
}
