/*-----------------------------------------------------------------
- Overflow
-----------------------------------------------------------------*/
@include helper('ov-v') {
    overflow: visible !important;
}

@include helper('ov-h') {
    overflow: hidden !important;
}

@include helper('ov-s') {
    overflow: scroll !important;
}

@include helper('ov-a') {
    overflow: auto !important;
}

@include helper('ovx-v') {
    overflow-x: visible !important;
}

@include helper('ovx-h') {
    overflow-x: hidden !important;
}

@include helper('ovx-s') {
    overflow-x: scroll !important;
}

@include helper('ovx-a') {
    overflow-x: auto !important;
}

@include helper('ovy-v') {
    overflow-y: visible !important;
}

@include helper('ovy-h') {
    overflow-y: hidden !important;
}

@include helper('ovy-s') {
    overflow-y: scroll !important;
}

@include helper('ovy-a') {
    overflow-y: auto !important;
}
