/*-----------------------------------------------------------------
- Height
-----------------------------------------------------------------*/
@include helper('h-a') {
  height: auto !important;
}

@include helper('h-100') {
  height: 100% !important;
}

@include helper('h-100vh') {
  height: 100vh !important;
}

// Min height
@include helper('minh-a') {
  min-height: auto !important;
}
@include helper('minh-n') {
  min-height: none !important;
}
@include helper('minh-100') {
  min-height: 100% !important;
}
@include helper('minh-100vh') {
  min-height: 100vh !important;
}

// Max height
@include helper('maxh-a') {
  max-height: auto !important;
}
@include helper('maxh-n') {
  max-height: none !important;
}
@include helper('maxh-100') {
  max-height: 100% !important;
}
@include helper('maxh-100vh') {
  max-height: 100vh !important;
}