/*-----------------------------------------------------------------
- Width
-----------------------------------------------------------------*/
.w-a {
  width: auto !important;
}

.w-100 {
  width: 100% !important;
}

.w-100vw {
  width: 100vw !important;
}

.minw-a {
  min-width: auto !important;
}
.minw-n {
  min-width: none !important;
}
.minw-100 {
  min-width: 100% !important;
}
.minw-100vw {
  min-width: 100vw !important;
}

.maxw-a {
  max-width: auto !important;
}
.maxw-n {
  max-width: none !important;
}
.maxw-100 {
  max-width: 100% !important;
}
.maxw-100vw {
  max-width: 100vw !important;
}