/*-----------------------------------------------------------------
- Width
-----------------------------------------------------------------*/
@include helper('w-a') {
  width: auto !important;
}

@include helper('w-100') {
  width: 100% !important;
}

@include helper('w-100vw') {
  width: 100vw !important;
}

// Min width
@include helper('minw-a') {
  min-width: auto !important;
}
@include helper('minw-n') {
  min-width: none !important;
}
@include helper('minw-100') {
  min-width: 100% !important;
}
@include helper('minw-100vw') {
  min-width: 100vw !important;
}

// Max width
@include helper('maxw-a') {
  max-width: auto !important;
}
@include helper('maxw-n') {
  max-width: none !important;
}
@include helper('maxw-100') {
  max-width: 100% !important;
}
@include helper('maxw-100vw') {
  max-width: 100vw !important;
}